.form-container{
    position: absolute;
    top: 5vh;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000000;
}

.modal{
    position: absolute;
    left: 65vw;
    top: 5vh;
}