<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>All Identities</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="/" class="scrollto"><span>Virtual Wallet</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

                <li><a href="/logout" sec:authorize="isAuthenticated()">Log Out</a></li>
            </ul>

        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<br>
<br>
<br>
<br>
<br>

<div class="accordion" id="collapsibleUserList1">
    <div class="card" th:each="user : ${userList}">
        <div class="card-header" th:id="heading + ${user.username}">
            <h2 class="mb-0">
                <div align="middle" data-toggle="collapse"
                     th:data-target="'#' + 'collapse' + ${user.username}" aria-expanded="true"
                     th:aria-controls="collapse + ${user.username}" th:text="${user.username}">
                </div>
            </h2>
        </div>

        <div th:id="'collapse' + ${user.username}" class="collapse show"
             th:aria-labelledby="heading + ${user.username}" data-parent="#collapsibleUserList1">
            <div align="middle" class="card-body">
                <img th:src="${user.identityPicture}" width="200" height="220">
                <div class="cell" th:text="Name + ': ' + ${user.firstName} + ' ' + ${user.lastName}">FirstName LastName</div>
                <br>
                <form th:action="@{'/admin/identities/approve/' + ${user.username} + '/' + ${true}}" method="post">
                    <input type="submit" value="Approve"/>
                </form>
                <form th:action="@{'/admin/identities/approve/' + ${user.username} + '/' + ${false}}" method="post">
                    <input type="submit" value="Reject"/>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>

    <div>

        <ul class="pagination pull-left" style="margin: -3px">

            <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1,totalPages)}">
                <a class="page-link" th:href="@{/admin/identities(page=${pageNumber}-1)}" th:text="${pageNumber}"></a>
            </li>

        </ul>

    </div>

</footer>


<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
</body>
</html>
