<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Make Transaction</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" th:href="@{/myCSS.css}" href="css/myCSS.css"/>
    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="/" class="scrollto"><span>Virtual Wallet</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/transaction/history">Show activity &nbsp</a></h2></li>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/details">Update Profile &nbsp</a></h2></li>
                <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

                <li><a href="/login" sec:authorize="!isAuthenticated()" >Log In</a></li>

                <li><a href="/register" sec:authorize="!isAuthenticated()" >Sign Up</a></li>
                <li><a href="/logout" sec:authorize="isAuthenticated()">Log Out</a></li>
            </ul>

        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">

<section id="services" class="section-bg" align="center">
    <div class="container">
        <div class="row">
            <div  data-wow-duration="1.4s" >

                    <div>
                        <table class="center"  border="1" th:width="250" th:height="50" >
                            <tr th:each="user : ${userList}">
                                <td class="cell" th:text="${user.username}"></td>
                                <td class="cell"><img width="50" height="50" th:src="${user.profilePicture}"></td>
                                <td>
                                    <button onclick="document.getElementById('transactionAmount').style.display='block'">Make Transaction</button>
                                    <form id="transactionAmount" style="display:none" class="form-container" th:action="@{'/send-money/' + ${user.id}}" method="post">
                                        <input  type="number" placeholder="Enter amount" name="amount" id="amount"
                                                required>
                                        <input th:type="hidden" th:name="id" th:value="${user.id}">
                                        <button type="submit" class="btn cancel" onclick="return confirm('Are you sure you want to make this transaction?');">Send Money</button>

                                    </form>
                                </td>
                            </tr>

                        </table>
                    </div>

            </div>
        </div>
    </div>
</section>
            </div>
        </div>
    </div>
</section>


<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
</body>
</html>