<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" th:href="@{/myCSS.css}" href="css/myCSS.css"/>
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="/" class="scrollto"><span>Virtual Wallet</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/transaction/history">Show activity &nbsp</a></h2></li>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/details">Update Profile &nbsp</a></h2></li>
                <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

                <li><a href="/login" sec:authorize="!isAuthenticated()" >Log In</a></li>

                <li><a href="/register" sec:authorize="!isAuthenticated()" >Sign Up</a></li>
                <li><a href="/logout" sec:authorize="isAuthenticated()">Log Out</a></li>
            </ul>

        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">

                <section id="services" class="section-bg" align="center">
                    <div class="container">
                        <div class="row">
                            <div  data-wow-duration="1.4s" >
                                <div class="boxnew">
                                    <div style="background: #fceef3;" class="myCSS"></div>
                                    <h1 class="title"><a href="">Wallet balance</a></h1>
                                    <div th:object="${wallet}">
                                        <td th:text="'$' + ${wallet.amount}" th:align="center"><h2>0.0</h2></td>
                                    </div>

                                        <a style="color: #0056b3; cursor: pointer" class="btn btn-default"
                                            onclick="document.getElementById('funds-section').style.display='block'">Add Funds</a>
                                        <a style="color: #0056b3; cursor: pointer" class="btn btn-default"
                                           onclick="document.getElementById('card-section').style.display='block'">New card</a>
                                        <a style="color: #a71d2a; cursor: not-allowed" class="btn btn-default"
                                           th:if="${user.blocked} == true">Unable to Make Transactions</a>
                                        <a style="color: #0056b3; cursor: pointer" class="btn btn-default"
                                           th:if="${user.blocked} == false"
                                           onclick="document.getElementById('transaction-section').style.display='block'">Make transaction</a>

                                    <br>
                                    <br>
                                    <br>

                                    <div style="display: none" id="card-section" class="center">
                                        <form class="form-container" th:action="@{/user/add-card}" th:method="post" >
                                            <h1>Add card</h1>
                                            <input minlength="5" maxlength="30" type="text"
                                                   placeholder="Enter card holder" name="cardHolderName"
                                                   id="cardHolderName"
                                                   title="Card holder name should be between 5 and 30 characters."
                                                   required>

                                            <input minlength="16" maxlength="16" type="text"
                                                   placeholder="0000-0000-0000-0000" name="number" id="number" required
                                                   pattern="[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}">
                                            <input minlength="3" maxlength="3" type="text"
                                                   placeholder="000" name="csv" id="csv" required
                                                   pattern="[0-9]{3}">
                                            <input minlength="5" maxlength="5" type="text"
                                                   placeholder="MM/YY" name="expireDate" id="expireDate" required>
                                            <button style="color: #0056b3"  type="submit" class="btn cancel"
                                                    onclick="document.getElementById('card-section').style.display='none'">Add card</button>
                                        </form>
                                     </div>

                                    <div style="display: none" class="center" id="funds-section" >
                                        <form class="form-container" th:action="@{/add/money/to/wallet}" th:method="post">
                                            <h1>Add Funds</h1>
                                            <input  type="number" placeholder="Enter amount" name="amount" id="amount"
                                                    required>
                                            <input  type="text" placeholder="Description" name="description" id="description"
                                                    required>
                                            <input  type="hidden"  th:for="f1235" >
                                            <select th:name="cardId" required th:id="f1235">
                                                <option selected="selected" disabled="disabled"
                                                        value="0">Please Select</option>
                                                <option th:each="card : ${cardList}" th:if="${!card.isDeleted()}"
                                                        th:value="${card.id}"
                                                        th:text="${card.number}">Card</option>
                                            </select>
                                            <br>
                                            <button style="color: #0056b3" type="submit" class="btn cancel"
                                                    onclick="document.getElementById('funds-section').style.display='none'">Add funds</button>
                                        </form>
                                    </div>

                                    <div style="display: none" id="transaction-section" class="center">
                                        <form th:action="@{/transaction/search}" th:method="post">
                                            <h3>Find user by email/<br>username/phone number</h3>
                                            <input type="text" name="search" id="search" placeholder="Search">
                                            <button style="color: #0056b3" type="submit" class="btn cancel"
                                                   onclick="document.getElementById('transaction-section')
                                                   .style.display='none'">Find User</button>
                                        </form>
                                    </div>
                            </div>

                            <div>
                                <ul class="pagination pull-left" style="margin: -3px; position: absolute; left: 35vw; top: 10vh;">

                                    <li class="page-item" th:each="pageNumber: ${#numbers.sequence(1,totalPages)}">
                                        <a class="page-link" th:href="@{/user(page=${pageNumber}-1)}" th:text="${pageNumber}"></a>
                                    </li>

                                </ul>
                                <table class="center" style=" position: absolute; left: 35vw; top: 15vh;" border="1" align="right">
                                <tr th:each="card : ${cardList}">
                                    <div th:if="${!card.isDeleted()}">
                                        <td th:text="${card.cardHolderName}"></td>
                                        <td th:text="${card.expireDate}"></td>
                                        <td th:text="${card.number}"></td>
                                        <td th:text="${card.csv}"></td>
                                        <td>
                                            <form method="post" action="/card/delete">
                                                <input th:type="hidden" th:name="id" th:value="${card.id}">
                                                <input type="submit" value="Delete card">
                                            </form>
                                    </td>
                                    <td>
                                        <form th:action="@{'/card/edit-show/' + ${card.id}}" method="get">
                                            <input th:type="hidden" th:name="id" th:value="${card.id}">
                                            <input type="submit" value="Edit card">
                                        </form>

                                    </td>
                                    </div>
                                </tr>

                            </table>


                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="contactform/contactform.js"></script>


<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
</body>
</html>