<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Edit Your Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" th:href="@{/myCSS.css}" href="css/myCSS.css"/>
    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
<header id="header">

    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="/" class="scrollto"><span>Virtual Wallet</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/transaction/history">Show activity &nbsp</a></h2></li>
                <li><h2><a sec:authorize="isAuthenticated()" href="/user/details">Update Profile &nbsp</a></h2></li>
                <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

                <li><a href="/login" sec:authorize="!isAuthenticated()" >Log In</a></li>

                <li><a href="/register" sec:authorize="!isAuthenticated()" >Sign Up</a></li>
                <li><a href="/logout" sec:authorize="isAuthenticated()">Log Out</a></li>
            </ul>

        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-130">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">

<section id="services" class="section-bg" align="center">
    <div class="container">
        <div class="row">
            <div  data-wow-duration="1.4s" >
                <div class="boxnew">
                    <form  action="#" th:action="@{/user/details}"
                           th:object="${user}" method="post" enctype="multipart/form-data" >

                        <label>Email:</label>
                        <br/>
                        <input minlength="7" maxlength="50"  type="email" id = "email" name="email"
                               placeholder="email" title="Email should be between 7 and 50 characters."
                               th:value="${user.email}"/>
                        <br/>
                        <label>Password:</label>
                        <br/>
                        <input minlength="5" maxlength="68"  type="password" id = "password" name="password"
                               placeholder="password" title="Password should be between 5 and 68 characters."/>
                        <br/>
                        <label>First name:</label>
                        <br/>
                        <input minlength="2" maxlength="15" type="text" id="firstName" name="firstName" placeholder="first name"
                               title="First name should be between 2 and 15 characters." th:value="${user.firstName}"/>
                        <br/>
                        <label>Last name:</label>
                        <br/>
                        <input minlength="4" maxlength="20" type="text" id="lastName" name="lastName" placeholder="last name"
                               title="Last name should be between 4 and 20 characters." th:value="${user.lastName}"/>
                        <br/>
                        <label>Phone number:</label>
                        <br/>
                        <input minlength="10" maxlength="13" type="text" id="phoneNumber" name="phoneNumber"
                               placeholder="phone number"
                               title="Phone number should be between 10 and 13 characters."
                               pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                               th:value="${user.phoneNumber}"/>
                        <br/>
                        <label>Profile Picture:</label>
                        <br>
                        <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
                        <input type="file" id="file" name="file" size="50" />
                        <br/>
                        <label>Identity Verification Picture:</label>
                        <br>
                        <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
                        <input type="file" id="fileId" name="fileId" size="50" />
                        <br>
                        <input type="submit" value="Edit"/>
                        <br/>
                    </form>
                </div>
                </div>
        </div>
    </div>
</section>

            </div>
        </div>
    </div>
</section>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
</body>
</html>